# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/
local_settings.py

# =========================
# Logs & runtime
# =========================
*.log
*.pid

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Node / frontend (if any)
# =========================
node_modules/
dist/
build/

# =========================
# Tests / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Docker
# =========================
*.tar
*.pid